body {
  background-color: aquamarine;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
}

article {
  background-color: beige;
  padding: 20px;
  margin: 10px;
  flex: 1;
}

.link {
  text-decoration: none;
  color: darkblue;
}

.link:hover {
  text-decoration: underline;
}

.footer { 
  background-color: bisque;
  padding: 5px;      
}

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}